In [144]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from CountVectorizer import CountVectorizer
from MultinomialNB import MultinomialNaiveBayes

In [145]:

dataset=pd.read_csv('train.csv',encoding='latin1',usecols=['text','selected_text','sentiment'])
dataset.head()

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,my boss is bullying me...,bullying me,negative
3,what interview! leave me alone,leave me alone,negative
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [146]:
dataset.isna().sum()

text             1
selected_text    1
sentiment        0
dtype: int64

In [147]:
dataset.dropna(inplace=True)

In [148]:
print(f'Number of null values in dataset {dataset.isna().sum()}')
dataset.head()

Number of null values in dataset text             0
selected_text    0
sentiment        0
dtype: int64

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,my boss is bullying me...,bullying me,negative
3,what interview! leave me alone,leave me alone,negative
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [149]:
label_mapping = {"negative": -1, "neutral": 0, "positive": 1}
dataset['sentiment'] = dataset['sentiment'].map(label_mapping)

In [150]:
dataset

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",0
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,-1
2,my boss is bullying me...,bullying me,-1
3,what interview! leave me alone,leave me alone,-1
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",-1
...,...,...,...
27476,wish we could come see u on Denver husband l...,d lost,-1
27477,I`ve wondered about rake to. The client has ...,", don`t force",-1
27478,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,1
27479,But it was worth it ****.,But it was worth it ****.,1
27480,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,0

In [151]:
X=dataset['selected_text']
# X=dataset['text']
# X = dataset[['text', 'selected_text']]
y=dataset['sentiment']

In [152]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [153]:
print(f'Number of rows in training set : {X_train.shape[0]}')
print(f'Number of rows in testing set : {X_test.shape[0]}')

Number of rows in training set : 21984
Number of rows in testing set : 5496

In [154]:
vectorizer = CountVectorizer()
mnb = MultinomialNaiveBayes()

In [155]:
print('hit')

hit

In [156]:
x_train_vec = (vectorizer.fit_transform(X_train))
x_test_vec = (vectorizer.transform(X_test))

In [157]:
mnb.fit(x_train_vec, y_train)

In [160]:
predictions = mnb.predict(x_test_vec)
# predictions=mnb.predict_proba(x_train_vec)

In [161]:
print(f"Multinomial Naive Bayes classification accuracy: {accuracy_score(y_test, predictions)*100} %")

Multinomial Naive Bayes classification accuracy: 76.12809315866085 %

In [ ]:
def predict_sentiment(sentence):
    sentence_vectorized = vectorizer.transform([sentence])
    prediction = mnb.predict_proba(sentence_vectorized)
    sortPredictions = dict(sorted(prediction[0].items(), key=lambda item: item[1]))
    keylist =list(sortPredictions.keys())
    valuelist = list(sortPredictions.values())
    sentiment = { -1: "negative", 0: "neutral", 1: "positive" }
    return f'the sentiment is "{sentiment[keylist[-1]]}" with the score "{valuelist[keylist[-1]]}"'

In [ ]:
print(predict_sentiment("Her enthusiastic and confident attitude, combined with her creative ideas and diligent work, made her accomplished and inspirational. She remained determined and optimistic, always showing compassion and generosity to others, which made her truly admirable."))

the sentiment is "neutral" with the score "0.002182274004181633"