In [76]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from CountVectorizer import CountVectorizer
from MultinomialNB import MultinomialNaiveBayes

In [77]:

dataset=pd.read_csv('train.csv',encoding='latin1',usecols=['text','selected_text','sentiment'])
dataset.head()

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,my boss is bullying me...,bullying me,negative
3,what interview! leave me alone,leave me alone,negative
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [78]:
dataset.isna().sum()

text             1
selected_text    1
sentiment        0
dtype: int64

In [79]:
dataset.dropna(inplace=True)

In [80]:
print(f'Number of null values in dataset {dataset.isna().sum()}')
dataset.head()

Number of null values in dataset text             0
selected_text    0
sentiment        0
dtype: int64

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,my boss is bullying me...,bullying me,negative
3,what interview! leave me alone,leave me alone,negative
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [81]:
label_mapping = {"negative": -1, "neutral": 0, "positive": 1}
dataset['sentiment'] = dataset['sentiment'].map(label_mapping)

In [82]:
dataset

,text,selected_text,sentiment
0,"I`d have responded, if I were going","I`d have responded, if I were going",0
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,-1
2,my boss is bullying me...,bullying me,-1
3,what interview! leave me alone,leave me alone,-1
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",-1
...,...,...,...
27476,wish we could come see u on Denver husband l...,d lost,-1
27477,I`ve wondered about rake to. The client has ...,", don`t force",-1
27478,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,1
27479,But it was worth it ****.,But it was worth it ****.,1
27480,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,0

In [83]:
# X=dataset['text']
X = dataset[['text', 'selected_text']]
y=dataset['sentiment']

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
print(f'Number of rows in training set : {X_train.shape[0]}')
print(f'Number of rows in testing set : {X_test.shape[0]}')

Number of rows in training set : 21984
Number of rows in testing set : 5496

In [86]:
vectorizer = CountVectorizer()
mnb = MultinomialNaiveBayes()

In [87]:
print('hit')

hit

In [88]:
x_train_vec = (vectorizer.fit_transform(X_train))
x_test_vec = (vectorizer.transform(X_test))

In [89]:
mnb.fit(x_train_vec, y_train)

In [90]:
predictions = mnb.predict(x_test_vec)

In [91]:
print(f"Multinomial Naive Bayes classification accuracy: {accuracy_score(y_test, predictions)*100} %")

Multinomial Naive Bayes classification accuracy: 40.68413391557497 %

In [92]:
def predict_sentiment(sentence):
    sentence_vectorized = vectorizer.transform([sentence])
    prediction = mnb.predict(sentence_vectorized)
    return prediction[0]

In [1]:
print(predict_sentiment("beautiful boy"))

NameError: name 'predict_sentiment' is not defined